* {
  padding: 0;
  margin: 0;
}

.container {
  position: relative;
  margin-top: 100px;
}

.container img {
  display: block;
  width: 100%;
}

nav {
  position: relative;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  font-family: "Montserrat", "sans-serif";
  height: 60px;
  background-color: #000000;
  padding: 0 1%;
}

nav .logo {
  float: left;
  width: 40%;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 30px;
  color: #fff;
}

nav .links {
  float: right;
  padding: 0;
  margin: 0;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav .links li {
  list-style: none;
}

nav .links a {
  display: block;
  padding: 1em;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  position: relative;
}

nav .links a:hover {
  color: rgb(204, 255, 0);
}

nav .links a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(248, 246, 246);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

nav .links a:hover::before {
  visibility: visible;
  transform: scaleX(1);
  color: white;
}

#nav-toggle {
  position: absolute;
  top: -100px;
}

nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

nav .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin: 5px;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 768px) {
  nav .logo {
    float: none;
    width: auto;
    justify-content: center;
  }

  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }

  nav .links a {
    font-size: 20px;
  }

  nav :checked~.links {
    bottom: 0;
  }

  nav .icon-burger {
    display: block;
  }

  nav :checked~.icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }

  nav :checked~.icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }

  nav :checked~.icon-burger .line:nth-child(2) {
    opacity: 0;
  }
}

/* --------------------------Navbar or Menu bar opening CSS Part ----------------------------------------------------- */
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

.topnav a:hover {
  background-color: #ffffff;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
      display: none;
  }

  .topnav a.icon {
      float: right;
      display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
      position: relative;
  }

  .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
  }

  .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
  }
}

/* --------------------------Navbar or Menu bar closing CSS Part ----------------------------------------------------- */

/* -- Start Of Service Section-- */


.container-3 h1 {
  text-align: center;
  padding-top: 2px;
  padding-bottom: 1px;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}

.container-3 h4 {
  font-size: 20px;
  padding-bottom: 5px;
  text-align: center;
}


#service{
  padding: 30px 0;

}
.service-list{
  display: grid;
  margin-left: 10px;
  margin-right: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 15px;
  margin-top: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;



}
.service-list div{
  background: #606060;
  border-radius: 15px;
  font-size: 13px;
  font-weight: 300;
  padding: 30px;
  transition: background 0.5s, transform 0.5s;
  
}
.service-list div:hover{
  background:#ff004f;
  transform: translateY(-10px);
  
}
.service-list div h2{
  color:#1aff00;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  
}
.service-list div a{
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: rgb(248, 248, 248);
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  display: inline-block;
  background: #000000;
  width: 150px;
  height: 50px;
  border-radius: 15px;
}
a{
  display: flex;
  align-items: center;
  text-align: center;
}
.service-list div a:hover{
  color: #000000;
  background-color: #f0f0f0;
  font-weight: bold;
}
/* -- End Of Service Section-- */



/* Start Of Testimonial */
.Testimonials {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #65c6d4;
}

.Testimonials .mbr-fallback-image.disabled {
  display: none;
}

.Testimonials .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.Testimonials .Profile-full {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 15px;
  min-width: 570px;
  max-width: 570px;
}

@media (max-width: 768px) {
  .Testimonials .Profile-full {
    min-width: 70%;
    max-width: initial;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}

.Testimonials .embla__button--next,
.Testimonials .embla__button--prev {
  display: flex;
}

.Testimonials .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.Testimonials .embla__button:disabled {
  cursor: default;
  display: none;
}

.Testimonials .embla__button:hover {
  background: #000;
  color: rgba(255, 255, 255, 0.5);
}

.Testimonials .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}

.Testimonials .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}

@media (max-width: 768px) {
  .Testimonials .embla__button {
    top: auto;
  }
}

.Testimonials .user_image {
  width: 200px;
  height: 200px;
  margin-bottom: 1.6rem;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 2rem auto;
}

.Testimonials .user_image .Profile-picture {
  width: 200px;
  height: 200px;
}

.Testimonials .user_image img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

@media (max-width: 230px) {
  .Testimonials .user_image {
    width: 100%;
    height: auto;
  }
}

.Testimonials .embla {
  position: relative;
  width: 100%;
}

.Testimonials .Profile-containner {
  overflow: hidden;
  width: 100%;
}

.Testimonials .Profile-containner.is-draggable {
  cursor: grab;
}

.Testimonials .Profile-containner.is-dragging {
  cursor: grabbing;
}

.Testimonials .Profile {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.position-relative {
  position: relative;
}


strong {
  font-weight: bold;
}


.text-center {
  text-align: center;
}

.display-1 {
  font-size: calc(1.575rem + 3.9vw);
  font-weight: 300;
  line-height: 1.2
}

.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}

.display-1>.mbr-iconfont {
  font-size: 3.75rem;
}

.display-1 {
  font-size: 2.4rem;
  font-size: calc(1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
  line-height: calc(1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
}


@media (min-width:1200px) {
  .display-1 {
      font-size: 4.5rem
  }
}

.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}

.display-2>.mbr-iconfont {
  font-size: 1.5rem;
}

@media (max-width: 768px) {  
  .display-2 {
    font-size: 0.96rem;
    font-size: calc(1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc(1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}


/* End Of Testimonial */

